body{
    display : flex;
    justify-content: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    background : beige;
}
/* En haut a gauche  */
hr.div1 {
    width: 28%;
    position: fixed;
    left: 11%;
    top: 5.5%;
}
p.pente {
    color: rgb(17, 17, 17);
    position: fixed;
    left: 4%;
    top:2.5%;
}
b.denivele {
    position: fixed;
    left: 13%
}
b.distanceParcourue {
    position: fixed;
    left: 13%;
    top: 9%;
}
b.bouttonPente {
    background : transparent;
    position: fixed;
    left: 40%;
    top: 5%;
}
/* au milieu a gauche  */
hr.div2 {
    width: 35%;
    position: fixed;
    left: 13%;
    top: 35%;
}
b.vitesse {
    position: fixed;
    left: 4%;
    top: 35%;
}
b.distance {
    position: fixed;
    left: 14%;
    top: 30%;
}
b.duree {
    position: fixed;
    left: 14%;
    top: 40%;
}
b.bouttonVitesse {
    position: fixed;
    left: 50%;
    top: 35%;
}
/* En bas a gauche  */
b.poidsTotal {
    position: fixed;
    left: 10%;
    top: 62%;
}
b.scx {
    position: fixed;
    left: 7%;
    top: 72%;
}
b.f {
    position: fixed;
    left: 7%;
    top: 80%;
}
b.bouttonPoidstotal {
    position: fixed;
    left: 30%;
    top: 80%;
}
/* En haut a droite */
b.Denivele {
    position: fixed;
    left: 50.3%;
    top: 15%;
}
b.Pente {
    position: fixed;
    left: 59%;
    top: 15%;
}
b.distanceParcourue2 {
    position: fixed;
    left: 69%;
    top: 15%;
}
b.bouttonDenivele {
    position: fixed;
    left: 89%;
    top: 15%;
}
/* En bas au centre*/
b.puissanceCyclisteWatts {
    position: fixed;
    left: 38%;
    top: 70%;
}
b.puissanceCyclisteWattskilogrammes {
    position: fixed;
    left: 38%;
    top: 77%;
}
b.EnergieDepensee {
    position: fixed;
    left: 38%;
    top: 84%;
}
button{
    cursor: pointer;
    background-color: white;
    border-radius: 10%;
}